/* Universal Styles */

body{
    font-size: 1rem;
    background-color: #F6F4D2;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.75rem;
}

p {
    font-family: 'Fanwood Text', serif;
    font-size: 1.25rem;
}

textarea, input {
    font-family: 'Fanwood Text', serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

/* Header */

header {
    width: 100%;
    padding-top: 1.25rem;
    background-color: #D4E09B;
    text-align: center;
}

header p {
    padding: 1rem;

}

/* Instruction heading */

#instructions {
    background-color: #A44A3F;
    color: #F6F4D2;
    padding: 1rem;
    width: 50%;
    margin: 1rem 0 0 2rem;
}

/* Flexbox Container and items */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.poster-btn {
    width: 40vw;
    margin-top: 2rem;
}

.poster-btn :hover {
    opacity: .7;}

/* Individual movie data screens */

#movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem;
}

.text-box {
    padding-left: 2rem;
    margin-top: 3rem;
}

.text-box  p {
    margin-top: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.info-poster {
    width: 70vw;
    margin: 0 auto;  
}

#back-btn{
    left: 25vw;
}

#edit-btn {
    left: 30vw;
}

#save-btn {
    margin-top: 2rem;
}

.btn {
    height: 3rem;
    width: 7rem;
    padding: .5rem;
    position: relative;
    text-align: center;
    opacity: .8;
    font-family: 'Shrikhand', cursive;
    background: #CBDFBD;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;

}

#back-btn:active, #edit-btn:active, #save-btn:active {
    bottom: -1vw;
}

#submit-btn:active {
    top: .25rem;
}

/* Movie form */

#form-box {
    margin: 5rem 0;
    text-align: center;
}

#form-box h2 {
    background-color: #A44A3F;
    color: #F6F4D2;
    padding: 1rem;
}

form {
    margin-top: 2rem;
}

input {
    margin-top: 2rem;
    margin-left: .75rem;
    width: 15rem;
}

#submit-btn {
    margin-top: 2rem;
}

/* Edit form */

#edit-form label {
    display: inline-block;
}

#edit-form input {
    display: inline-block;
    width: 250px;
}

#edit-form textarea {
    margin-top: 2rem;
}

#plot-label {
    margin-right: 3vw;
    align-self: center;
}

#div2 {
    width: 305px;
    margin: 0 auto;
}




@media only screen and (min-width: 650px) and (max-width: 1199px) {
   
    .poster-btn {
        width: 30vw;
    }

    #movie-info {
        flex-direction: row;
    }

    #back-btn{
        left: 55vw;
        bottom: 3vw;
    }
    
    #edit-btn {
        left: 60vw;
        bottom: 3vw;
    }

    #back-btn:active, #edit-btn:active {
        bottom: 2.5vw;
    }

  }

  @media only screen and (min-width: 1200px) {
    
    #instructions {
        width: 30%;
    }
    
    .poster-btn {
        width: 20vw;
    }

    #movie-info {
        flex-direction: row;
    }

    #back-btn {
        left: 50vw;
        bottom: 5vw;
    }

    #edit-btn {
        bottom: 5vw;
        left: 55vw;
    }

    #back-btn:active, #edit-btn:active {
        bottom: 4.5vw;
    }

    .info-poster {
        width: 30vw;
        margin-left: 5vw;
    }

    .text-box p {
        margin-right: 5rem;
    }
  }
   



