/* Universal Styles */

body{
    font-size: 1rem;
    background-color: #F6F4D2;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.75rem;
}

p {
    font-family: 'Fanwood Text', serif;
    font-size: 1.25rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

/* Header */

header {
    width: 100%;
    padding-top: 1.25rem;
    background-color: #D4E09B;
    text-align: center;
}

header p {
    padding: 1rem;

}

/* Instruction heading */

#instructions {
    background-color: #A44A3F;
    color: #F6F4D2;
    padding: 1rem;
    width: 35%;
    margin: 1rem 0 0 2rem;
}

/* Flexbox Container and items */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.poster-btn {
    width: 30%;
    margin-top: 2rem;
}

.poster-btn :hover {
    opacity: .7;}

/* Individual movie data screens */

#movie-info {
    display: flex;
    margin-top: 1.5rem;
}

.text-box {
    padding-left: 2rem;
    margin-top: 3rem;
}

.text-box  p {
    margin-top: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.info-poster {
    width: 100%;  
}

.back-btn{
    margin-top: 2rem;
    position: absolute;
    right: 3rem;
    bottom: 2rem;
}

.btn {
    height: 3rem;
    width: 7rem;
    padding: .5rem;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    background: #CBDFBD;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #D4E09B;
    border: solid 3px #D4E09B;

}

.btn:active {
    opacity: .5;
}

/* Movie form */

#form-box {
    margin-top: 5rem;
    text-align: center;
}

#form-box h2 {
    background-color: #A44A3F;
    color: #F6F4D2;
    padding: 1rem;
}

form {
    margin-top: 2rem;
}

input {
    margin: .75rem;
    width: 15rem;
}

#submit-btn {
    margin-top: 2rem;
}



